.#{$prefix}alert {
    @extend .alert;
    @extend .mb-2;
    justify-content: start;
}

.#{$prefix}alert-show {
    &-opening,
    &-closing {
        transition: all 0.3s ease-out;
    }

    &-open,
    &-closing {
        opacity: 0;
    }

    &-close,
    &-opening,
    &-opened {
        opacity: 1;
    }

    &-closed {
        display: none;
    }
}

.#{$prefix}alert-title {
    font-weight: bold;
}

.#{$prefix}alert-body {
    flex-direction: column;
    align-items: start;
}

// daisyui colors
@each $colorName,
$daisyuiColorName in $StateColors {
    .#{$prefix}alert-color-#{$colorName} {
        @extend .alert-#{$daisyuiColorName};
    }
}