.#{$prefix}avatar-list {
	--#{$prefix}list-gap: 0.5rem;
	display: flex;
	flex-wrap: wrap;
	gap: var(--#{$prefix}list-gap);
}
.#{$prefix}avatar-list-stacked .#{$prefix}avatar {
	margin-right: calc(-0.5 * var(--#{$prefix}avatar-size)) !important;
	box-shadow: 0 0 0 2px hsl(var(--b1));
}
