.#{$prefix}checkbox {
	@extend %checkbox;
}

.#{$prefix}checkbox-wrapper {
	@extend %grid;
	@extend %gap-x-3;
	margin-bottom: 0.5rem;
	grid-template-columns: auto 1fr;
	& > *:not(:first-child) {
		grid-column-start: 2;
	}
	.#{$prefix}checkbox-description {
		@extend %text-sm;
		@extend %opacity-70;
	}
}

.#{$prefix}checkbox-wrapper-inline {
	display: inline-flex;
	margin-right: 1rem;
}
.#{$prefix}checkbox-wrapper-reverse {
	text-align: right;
	justify-content: end;
	grid-template-columns: 1fr auto;
	.#{$prefix}checkbox {
		grid-row-start: 1;
		grid-column-start: 2;
	}
	.#{$prefix}checkbox-label {
		grid-column-start: 1;
		grid-row-start: 1;
	}
	.#{$prefix}checkbox-description {
		@extend %text-sm;
		@extend %opacity-70;
		grid-column-start: 1;
	}
}

// daisyui colors
@each $colorName, $daisyuiColorName in $RoleColors {
	.#{$prefix}checkbox-color-#{$colorName} {
		@extend %checkbox-#{$daisyuiColorName};
	}
}

@each $colorName, $daisyuiColorName in $StateColors {
	.#{$prefix}checkbox-color-#{$colorName} {
		@extend %checkbox-#{$daisyuiColorName};
	}
}

// constant colors
@each $colorName, $colorVariant in $namedColors {
	.#{$prefix}checkbox-color-#{$colorName} {
		border-color: map-get($colorVariant, 'default');
		--chkbg: #{map-get($colorVariant, 'hsl')};
		--chkfg: #{map-get($colorVariant, 'contentHsl')};
		&:checked {
			background-color: map-get($colorVariant, 'default');
		}
		&:focus-visible {
			outline-color: map-get($colorVariant, 'default');
		}
	}
}

// social media colors
@each $colorName, $colorVariant in $socialColors {
	.#{$prefix}checkbox-color-#{$colorName} {
		border-color: map-get($colorVariant, 'default');
		--chkbg: #{map-get($colorVariant, 'hsl')};
		--chkfg: #{map-get($colorVariant, 'contentHsl')};
		&:checked {
			background-color: map-get($colorVariant, 'default');
		}
		&:focus-visible {
			outline-color: map-get($colorVariant, 'default');
		}
	}
}
