// daisyui colors
@each $colorName, $daisyuiColorName in $RoleColors {
	.#{$prefix}el-bg-color-#{$colorName} {
		@extend .bg-#{$daisyuiColorName};
	}
	.#{$prefix}el-text-color-#{$colorName} {
		@extend .text-#{$daisyuiColorName};
	}
}

@each $colorName, $daisyuiColorName in $StateColors {
	.#{$prefix}el-bg-color-#{$colorName} {
		@extend .bg-#{$daisyuiColorName};
	}
	.#{$prefix}el-text-color-#{$colorName} {
		@extend .text-#{$daisyuiColorName};
	}
}

// constant colors
@each $colorName, $colorVariant in $namedColors {
	.#{$prefix}el-bg-color-#{$colorName} {
		background-color: map-get($colorVariant, 'default');
	}
	.#{$prefix}el-text-color-#{$colorName} {
		color: map-get($colorVariant, 'default');
	}
}

// social media colors
@each $colorName, $colorVariant in $socialColors {
	.#{$prefix}el-bg-color-#{$colorName} {
		background-color: map-get($colorVariant, 'default');
	}
	.#{$prefix}el-text-color-#{$colorName} {
		color: map-get($colorVariant, 'default');
	}
}

//bg opacity
@each $opacity in (10 25 50 75) {
	.#{$prefix}el-bg-opacity-#{$opacity} {
		@extend .bg-opacity-#{$opacity};
	}
}

.#{$prefix}el-theme-dark {
	@extend [data-theme='dark'];
}

.#{$prefix}el-theme-light {
	@extend [data-theme='light'];
}
