.#{$prefix}el-container,
.#{$prefix}el-container-fluid,
.#{$prefix}el-container-xxl,
.#{$prefix}el-container-xl,
.#{$prefix}el-container-lg,
.#{$prefix}el-container-md,
.#{$prefix}el-container-sm {
	--bs-gutter-x: 1.5rem;
	--bs-gutter-y: 0;
	width: 100%;
	padding-right: calc(var(--bs-gutter-x) * 0.5);
	padding-left: calc(var(--bs-gutter-x) * 0.5);
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 576px) {
	.#{$prefix}el-container-sm,
	.#{$prefix}el-container {
		max-width: 540px;
	}
}
@media (min-width: 768px) {
	.#{$prefix}el-container-md,
	.#{$prefix}el-container-sm,
	.#{$prefix}el-container {
		max-width: 720px;
	}
}
@media (min-width: 992px) {
	.#{$prefix}el-container-lg,
	.#{$prefix}el-container-md,
	.#{$prefix}el-container-sm,
	.#{$prefix}el-container {
		max-width: 960px;
	}
}
@media (min-width: 1200px) {
	.#{$prefix}el-container-xl,
	.#{$prefix}el-container-lg,
	.#{$prefix}el-container-md,
	.#{$prefix}el-container-sm,
	.#{$prefix}el-container {
		max-width: 1140px;
	}
}
@media (min-width: 1400px) {
	.#{$prefix}el-container-xxl,
	.#{$prefix}el-container-xl,
	.#{$prefix}el-container-lg,
	.#{$prefix}el-container-md,
	.#{$prefix}el-container-sm,
	.#{$prefix}el-container {
		max-width: 1320px;
	}
}
