@mixin form-field($name) {
	.#{$prefix}form-#{$name} {
		&-group {
			@extend %input-group;
		}

		&-icon {
			@extend span;
		}

		&-group > :first-child:last-child {
			border-bottom-left-radius: var(--rounded-btn, 0.5rem);
			border-bottom-right-radius: var(--rounded-btn, 0.5rem);
			border-top-left-radius: var(--rounded-btn, 0.5rem);
			border-top-right-radius: var(--rounded-btn, 0.5rem);
		}

		// &-hint {
		// 	margin-top: 0.25rem;
		// 	font-size: 85.714285%;

		// 	&-state {
		// 		&-valid {
		// 			color: #{$success};
		// 		}

		// 		&-invalid {
		// 			color: #{$danger};
		// 		}
		// 	}
		// }
	}
}

@include form-field(input);
@include form-field(select);
@include form-field(switch);
@include form-field(editor);
@include form-field(radio-group);
@include form-field(checkbox-group);

@include form-field(checkbox);

@include form-field(textarea);
@include form-field(autocomplete);
@include form-field(file-upload);
@include form-field(date-picker);
