.#{$prefix}input-wrapper {
	@extend .input-group;
}
.#{$prefix}input-wrapper > :first-child:last-child {
	border-bottom-left-radius: var(--rounded-btn, 0.5rem);
	border-bottom-right-radius: var(--rounded-btn, 0.5rem);
	border-top-left-radius: var(--rounded-btn, 0.5rem);
	border-top-right-radius: var(--rounded-btn, 0.5rem);
}
.#{$prefix}input-wrapper input[type='checkbox'] {
	@extend .checkbox;
}
.#{$prefix}input-wrapper input[type='radio'] {
	@extend .radio;
}
