.#{$prefix}radio {
	@extend .radio;
}

.#{$prefix}radio-wrapper {
	display: flex;
	place-items: center;
	gap: 0.5rem;
	padding: 0.2rem 0;
}

.#{$prefix}radio-wrapper-inline {
	display: inline-flex;
}
.#{$prefix}radio-wrapper-reverse {
	text-align: right;
	justify-content: end;
	flex-direction: row-reverse;
}

// daisyui colors
@each $colorName, $daisyuiColorName in $RoleColors {
	.#{$prefix}radio-color-#{$colorName} {
		@extend .radio-#{$daisyuiColorName};
	}
}

@each $colorName, $daisyuiColorName in $StateColors {
	.#{$prefix}radio-color-#{$colorName} {
		@extend .radio-#{$daisyuiColorName};
	}
}

// constant colors
@each $colorName, $colorVariant in $namedColors {
	.#{$prefix}radio-color-#{$colorName} {
		background-color: map-get($colorVariant, 'default');
	}
}

// social media colors
@each $colorName, $colorVariant in $socialColors {
	.#{$prefix}radio-color-#{$colorName} {
		background-color: map-get($colorVariant, 'default');
	}
}
