.#{$prefix}slider {
	appearance: none;
	background-color: transparent;
	height: 1.25rem;
	padding: 0;
	width: 100%;
}
.y-slider-horizontal {
	height: 1.25rem;
	padding: 0.5rem 0;
}

.y-slider-target,
.#{$prefix}slider {
	background: none;
	border: 0;
	border-radius: 0;
	box-shadow: none;
	color: hsl(var(--bc));
}
.y-slider-target,
.#{$prefix}slider {
	position: relative;
}
.y-slider-target,
.y-slider-target *,
.#{$prefix}slider,
.#{$prefix}slider * {
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-ms-touch-action: none;
	touch-action: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.y-slider-base {
	background: hsl(var(--b3));
	border-radius: 1rem;
}

.y-slider-base,
.y-slider-connects {
	height: 100%;
	position: relative;
	width: 100%;
	z-index: 1;
}
.y-slider-target,
.y-slider-target *,
.#{$prefix}slider,
.#{$prefix}slider * {
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-ms-touch-action: none;
	touch-action: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.y-slider-connects {
	border-radius: 3px;
	overflow: hidden;
	z-index: 0;
}
.y-slider-horizontal .y-slider-origin {
	height: 0;
}

.y-slider-connect,
.y-slider-origin {
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	-ms-transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform-style: preserve-3d;
	transform-style: flat;
	width: 100%;
	will-change: transform;
	z-index: 1;
}
.y-slider-horizontal .y-slider-handle {
	height: 1rem;
	margin: 1px px 1px 0 0;
	right: -0.5rem;
	top: -0.37rem;
	width: 1rem;
}
.y-slider-handle {
	background: currentColor;
	border: 2px solid hsl(var(--b1));
	border-radius: var(--rounded-badge);
	height: 1rem;
	outline: 0;
	width: 1rem;
	cursor: default;
}
.y-slider-handle {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	position: absolute;
}
.y-slider-touch-area {
	height: 100%;
	width: 100%;
}
.y-slider-connect {
	background: currentColor;
}
.y-slider-horizontal .y-slider-tooltip {
	bottom: 120%;
	left: 50%;
	-webkit-transform: translate(-50%);
	transform: translate(-50%);
}

.y-slider-tooltip {
	background: #fff;
	border: 1px solid #d9d9d9;
	border-radius: 3px;
	color: #000;
	display: block;
	padding: 5px;
	position: absolute;
	text-align: center;
	white-space: nowrap;
}
.y-slider-handle.y-slider-active,
.y-slider-handle:focus {
	box-shadow: 0 0 0 1px hsl(var(--b1)), 0 0 0 3px currentColor;
}

// daisyui colors
@each $colorName, $daisyuiColorName in $RoleColors {
	.#{$prefix}slider-color-#{$colorName} {
		@extend %text-#{$daisyuiColorName};
	}
}

@each $colorName, $daisyuiColorName in $StateColors {
	.#{$prefix}slider-color-#{$colorName} {
		@extend %text-#{$daisyuiColorName};
	}
}

// constant colors
@each $colorName, $colorVariant in $namedColors {
	.#{$prefix}slider-color-#{$colorName} {
		color: map-get($colorVariant, 'default');
	}
}

// social media colors
@each $colorName, $colorVariant in $socialColors {
	.#{$prefix}slider-color-#{$colorName} {
		color: map-get($colorVariant, 'default');
	}
}
