.#{$prefix}textarea {
	@extend .w-full;
	@extend .textarea;
	@extend .textarea-bordered;
}

.#{$prefix}textarea-wrapper {
	position: relative;

	.#{$prefix}textarea:not(:first-child) {
		padding-left: 3rem;
	}
	.#{$prefix}textarea:not(:last-child) {
		padding-right: 3rem;
	}

	.#{$prefix}textarea-icon:first-child {
		left: 0;
	}
	.#{$prefix}textarea-icon:last-child {
		right: 0;
	}

	.#{$prefix}textarea-icon {
		position: absolute;
		top: 0;
		bottom: 0;
		z-index: 1;
		background-color: transparent;
		display: flex;
		align-items: center;
		padding-left: 1rem;
		padding-right: 1rem;
	}
}



.#{$prefix}textarea-state-valid {
	@extend .textarea-success;
}

.#{$prefix}textarea-state-invalid {
	@extend .textarea-error;
}
.#{$prefix}form-textarea-hint {
	@extend .label-text-alt;
}
.#{$prefix}textarea-size-sm {
	@extend .textarea-sm;
}
.#{$prefix}textarea-size-md {
	@extend .textarea-md;
}
.#{$prefix}textarea-size-lg {
	@extend .textarea-lg;
}

.#{$prefix}textarea-border-rounded {
	@extend .rounded-full;
}
.#{$prefix}textarea-border-flush {
	@extend .border-transparent;
}
