.markdown {
	@extend %prose;
	max-width: unset;
}
h1 {
	@extend %text-2xl;
	font-weight: 600;
	margin-bottom: 0.5rem;
}
h2 {
	@extend %text-lg;
	font-weight: 600;
	margin-bottom: 0.5rem;
}
h3 {
	@extend %text-base;
	font-weight: 600;
	margin-bottom: 0.5rem;
}
h4 {
	@extend %text-sm;
	font-weight: 600;
	margin-bottom: 0.5rem;
}
h5 {
	@extend %text-xs;
	font-weight: 600;
	margin-bottom: 0.5rem;
}
h6 {
	font-size: 0.625rem;
	font-weight: 600;
	margin-bottom: 0.5rem;
}
code {
	@extend %bg-base-200;
	@extend %px-2;
	@extend %rounded;
}
ol,
ul {
	padding-left: 1.5rem;
	margin-bottom: 1rem;
	@extend %list-disc;
	@extend %list-inside;
}
