.markdown {
	@extend .prose;
}
html {
	font-size: 0.875rem;
	line-height: 1.4285714286;
}
h1 {
	@extend .text-4xl;
	@extend .font-bold;
	margin-bottom: 0.5rem;
}
h2 {
	@extend .text-2xl;
	@extend .font-bold;
	margin-bottom: 0.5rem;
}
h3 {
	@extend .text-xl;
	@extend .font-bold;
	margin-bottom: 0.5rem;
}
code {
	@extend .bg-base-200;
	@extend .px-2;
	@extend .rounded;
}
ol,
ul {
	padding-left: 1.5rem;
	margin-bottom: 1rem;
	@extend .list-disc;
	@extend .list-inside;
}
