$RoleColors: (
	'primary': 'primary',
	'secondary': 'secondary',
	'accent': 'accent'
);

$StateColors: (
	'success': 'success',
	'info': 'info',
	'warning': 'warning',
	'danger': 'error'
);

$namedColors: (
	'light': (
		'hsl': 210 40% 98%,
		'value': hsl(210 40% 98% / var(--color-value-opacity, 1)),
		'default': hsl(210 40% 98% / var(--tw-bg-opacity, 1)),
		'focus': hsl(210 40% 88% / var(--tw-bg-opacity, 1)),
		'content': hsl(0 0% 0% / var(--tw-text-opacity, 1)),
		'contentHsl': 0 0% 0%
	),
	'dark': (
		'hsl': 220 34.1% 17.3%,
		'value': hsl(220 34.1% 17.3% / var(--color-value-opacity, 1)),
		'default': hsl(220 34.1% 17.3% / var(--tw-bg-opacity, 1)),
		'focus': hsl(220 34.1% 7.3% / var(--tw-bg-opacity, 1)),
		'content': hsl(0 0% 100% / var(--tw-text-opacity, 1)),
		'contentHsl': 0 0% 100%
	),
	'blue': (
		'hsl': 212.6 71.9% 44.7%,
		'value': hsl(212.6 71.9% 44.7% / var(--color-value-opacity, 1)),
		'default': hsl(212.6 71.9% 44.7% / var(--tw-bg-opacity, 1)),
		'focus': hsl(212.6 71.9% 34.7% / var(--tw-bg-opacity, 1)),
		'content': hsl(0 0% 100% / var(--tw-text-opacity, 1)),
		'contentHsl': 0 0% 100%
	),
	'azure': (
		'hsl': 207.2 72.6% 57.1%,
		'value': hsl(207.2 72.6% 57.1% / var(--color-value-opacity, 1)),
		'default': hsl(207.2 72.6% 57.1% / var(--tw-bg-opacity, 1)),
		'focus': hsl(207.2 72.6% 47.1% / var(--tw-bg-opacity, 1)),
		'content': hsl(0 0% 100% / var(--tw-text-opacity, 1)),
		'contentHsl': 0 0% 100%
	),
	'indigo': (
		'hsl': 228.3 80.9% 59%,
		'value': hsl(228.3 80.9% 59% / var(--color-value-opacity, 1)),
		'default': hsl(228.3 80.9% 59% / var(--tw-bg-opacity, 1)),
		'focus': hsl(228.3 80.9% 49% / var(--tw-bg-opacity, 1)),
		'content': hsl(0 0% 100% / var(--tw-text-opacity, 1)),
		'contentHsl': 0 0% 100%
	),
	'purple': (
		'hsl': 288.3 56.3% 51.6%,
		'value': hsl(288.3 56.3% 51.6% / var(--color-value-opacity, 1)),
		'default': hsl(288.3 56.3% 51.6% / var(--tw-bg-opacity, 1)),
		'focus': hsl(288.3 56.3% 41.6% / var(--tw-bg-opacity, 1)),
		'content': hsl(0 0% 100% / var(--tw-text-opacity, 1)),
		'contentHsl': 0 0% 100%
	),
	'pink': (
		'hsl': 339 66.5% 52%,
		'value': hsl(339 66.5% 52% / var(--color-value-opacity, 1)),
		'default': hsl(339 66.5% 52% / var(--tw-bg-opacity, 1)),
		'focus': hsl(339 66.5% 42% / var(--tw-bg-opacity, 1)),
		'content': hsl(0 0% 100% / var(--tw-text-opacity, 1)),
		'contentHsl': 0 0% 100%
	),
	'red': (
		'hsl': 0 65.7% 53.1%,
		'value': hsl(0 65.7% 53.1% / var(--color-value-opacity, 1)),
		'default': hsl(0 65.7% 53.1% / var(--tw-bg-opacity, 1)),
		'focus': hsl(0 65.7% 43.1% / var(--tw-bg-opacity, 1)),
		'content': hsl(0 0% 100% / var(--tw-text-opacity, 1)),
		'contentHsl': 0 0% 100%
	),
	'orange': (
		'hsl': 24 94.5% 49.8%,
		'value': hsl(24 94.5% 49.8% / var(--color-value-opacity, 1)),
		'default': hsl(24 94.5% 49.8% / var(--tw-bg-opacity, 1)),
		'focus': hsl(24 94.5% 39.8% / var(--tw-bg-opacity, 1)),
		'content': hsl(0 0% 100% / var(--tw-text-opacity, 1)),
		'contentHsl': 0 0% 100%
	),
	'yellow': (
		'hsl': 38.9 100% 48%,
		'value': hsl(38.9 100% 48% / var(--color-value-opacity, 1)),
		'default': hsl(38.9 100% 48% / var(--tw-bg-opacity, 1)),
		'focus': hsl(38.9 100% 38% / var(--tw-bg-opacity, 1)),
		'content': hsl(0 0% 100% / var(--tw-text-opacity, 1)),
		'contentHsl': 0 0% 100%
	),
	'lime': (
		'hsl': 85.2 78.6% 40.4%,
		'value': hsl(85.2 78.6% 40.4% / var(--color-value-opacity, 1)),
		'default': hsl(85.2 78.6% 40.4% / var(--tw-bg-opacity, 1)),
		'focus': hsl(85.2 78.6% 30.4% / var(--tw-bg-opacity, 1)),
		'content': hsl(0 0% 100% / var(--tw-text-opacity, 1)),
		'contentHsl': 0 0% 100%
	),
	'green': (
		'hsl': 129.5 58.4% 44.3%,
		'value': hsl(129.5 58.4% 44.3% / var(--color-value-opacity, 1)),
		'default': hsl(129.5 58.4% 44.3% / var(--tw-bg-opacity, 1)),
		'focus': hsl(129.5 58.4% 34.3% / var(--tw-bg-opacity, 1)),
		'content': hsl(0 0% 100% / var(--tw-text-opacity, 1)),
		'contentHsl': 0 0% 100%
	),
	'teal': (
		'hsl': 162.1 86.5% 34.9%,
		'value': hsl(162.1 86.5% 34.9% / var(--color-value-opacity, 1)),
		'default': hsl(162.1 86.5% 34.9% / var(--tw-bg-opacity, 1)),
		'focus': hsl(162.1 86.5% 24.9% / var(--tw-bg-opacity, 1)),
		'content': hsl(0 0% 100% / var(--tw-text-opacity, 1)),
		'contentHsl': 0 0% 100%
	),
	'cyan': (
		'hsl': 188.2 77.8% 40.6%,
		'value': hsl(188.2 77.8% 40.6% / var(--color-value-opacity, 1)),
		'default': hsl(188.2 77.8% 40.6% / var(--tw-bg-opacity, 1)),
		'focus': hsl(188.2 77.8% 30.6% / var(--tw-bg-opacity, 1)),
		'content': hsl(0 0% 100% / var(--tw-text-opacity, 1)),
		'contentHsl': 0 0% 100%
	)
);

$socialColors: (
	'facebook': (
		'hsl': 213.9 89.3% 52.2%,
		'value': hsl(213.9 89.3% 52.2% / var(--color-value-opacity, 1)),
		'default': hsl(213.9 89.3% 52.2% / var(--tw-bg-opacity, 1)),
		'focus': hsl(213.9 89.3% 42.2% / var(--tw-bg-opacity, 1)),
		'content': hsl(0 0% 100% / var(--tw-text-opacity, 1)),
		'contentHsl': 0 0% 100%
	),
	'twitter': (
		'hsl': 202.8 89.1% 53.1%,
		'value': hsl(202.8 89.1% 53.1% / var(--color-value-opacity, 1)),
		'default': hsl(202.8 89.1% 53.1% / var(--tw-bg-opacity, 1)),
		'focus': hsl(202.8 89.1% 43.1% / var(--tw-bg-opacity, 1)),
		'content': hsl(0 0% 100% / var(--tw-text-opacity, 1)),
		'contentHsl': 0 0% 100%
	),
	'linkedin': (
		'hsl': 210 90.2% 40%,
		'value': hsl(210 90.2% 40% / var(--color-value-opacity, 1)),
		'default': hsl(210 90.2% 40% / var(--tw-bg-opacity, 1)),
		'focus': hsl(210 90.2% 30% / var(--tw-bg-opacity, 1)),
		'content': hsl(0 0% 100% / var(--tw-text-opacity, 1)),
		'contentHsl': 0 0% 100%
	),
	'google': (
		'hsl': 5 68.9% 55.9%,
		'value': hsl(5 68.9% 55.9% / var(--color-value-opacity, 1)),
		'default': hsl(5 68.9% 55.9% / var(--tw-bg-opacity, 1)),
		'focus': hsl(5 68.9% 45.9% / var(--tw-bg-opacity, 1)),
		'content': hsl(0 0% 100% / var(--tw-text-opacity, 1)),
		'contentHsl': 0 0% 100%
	),
	'youtube': (
		'hsl': 0 100% 50%,
		'value': hsl(0 100% 50% / var(--color-value-opacity, 1)),
		'default': hsl(0 100% 50% / var(--tw-bg-opacity, 1)),
		'focus': hsl(0 100% 40% / var(--tw-bg-opacity, 1)),
		'content': hsl(0 0% 100% / var(--tw-text-opacity, 1)),
		'contentHsl': 0 0% 100%
	),
	'vimeo': (
		'hsl': 194.7 83.2% 51%,
		'value': hsl(194.7 83.2% 51% / var(--color-value-opacity, 1)),
		'default': hsl(194.7 83.2% 51% / var(--tw-bg-opacity, 1)),
		'focus': hsl(194.7 83.2% 41% / var(--tw-bg-opacity, 1)),
		'content': hsl(0 0% 100% / var(--tw-text-opacity, 1)),
		'contentHsl': 0 0% 100%
	),
	'dribbble': (
		'hsl': 336.8 79% 60.8%,
		'value': hsl(336.8 79% 60.8% / var(--color-value-opacity, 1)),
		'default': hsl(336.8 79% 60.8% / var(--tw-bg-opacity, 1)),
		'focus': hsl(336.8 79% 50.8% / var(--tw-bg-opacity, 1)),
		'content': hsl(0 0% 100% / var(--tw-text-opacity, 1)),
		'contentHsl': 0 0% 100%
	),
	'github': (
		'hsl': 0 2.1% 9.2%,
		'value': hsl(0 2.1% 9.2% / var(--color-value-opacity, 1)),
		'default': hsl(0 2.1% 9.2% / var(--tw-bg-opacity, 1)),
		'focus': hsl(0 2.1% -0.8% / var(--tw-bg-opacity, 1)),
		'content': hsl(0 0% 100% / var(--tw-text-opacity, 1)),
		'contentHsl': 0 0% 100%
	),
	'instagram': (
		'hsl': 348.7 75.2% 57.3%,
		'value': hsl(348.7 75.2% 57.3% / var(--color-value-opacity, 1)),
		'default': hsl(348.7 75.2% 57.3% / var(--tw-bg-opacity, 1)),
		'focus': hsl(348.7 75.2% 47.3% / var(--tw-bg-opacity, 1)),
		'content': hsl(0 0% 100% / var(--tw-text-opacity, 1)),
		'contentHsl': 0 0% 100%
	),
	'pinterest': (
		'hsl': 353.4 91.9% 38.6%,
		'value': hsl(353.4 91.9% 38.6% / var(--color-value-opacity, 1)),
		'default': hsl(353.4 91.9% 38.6% / var(--tw-bg-opacity, 1)),
		'focus': hsl(353.4 91.9% 28.6% / var(--tw-bg-opacity, 1)),
		'content': hsl(0 0% 100% / var(--tw-text-opacity, 1)),
		'contentHsl': 0 0% 100%
	),
	'vk': (
		'hsl': 212.2 28.4% 52.4%,
		'value': hsl(212.2 28.4% 52.4% / var(--color-value-opacity, 1)),
		'default': hsl(212.2 28.4% 52.4% / var(--tw-bg-opacity, 1)),
		'focus': hsl(212.2 28.4% 42.4% / var(--tw-bg-opacity, 1)),
		'content': hsl(0 0% 100% / var(--tw-text-opacity, 1)),
		'contentHsl': 0 0% 100%
	),
	'rss': (
		'hsl': 38.8 100% 50%,
		'value': hsl(38.8 100% 50% / var(--color-value-opacity, 1)),
		'default': hsl(38.8 100% 50% / var(--tw-bg-opacity, 1)),
		'focus': hsl(38.8 100% 40% / var(--tw-bg-opacity, 1)),
		'content': hsl(0 0% 100% / var(--tw-text-opacity, 1)),
		'contentHsl': 0 0% 100%
	),
	'flickr': (
		'hsl': 213 100% 43.1%,
		'value': hsl(213 100% 43.1% / var(--color-value-opacity, 1)),
		'default': hsl(213 100% 43.1% / var(--tw-bg-opacity, 1)),
		'focus': hsl(213 100% 33.1% / var(--tw-bg-opacity, 1)),
		'content': hsl(0 0% 100% / var(--tw-text-opacity, 1)),
		'contentHsl': 0 0% 100%
	),
	'bitbucket': (
		'hsl': 215.9 100% 40%,
		'value': hsl(215.9 100% 40% / var(--color-value-opacity, 1)),
		'default': hsl(215.9 100% 40% / var(--tw-bg-opacity, 1)),
		'focus': hsl(215.9 100% 30% / var(--tw-bg-opacity, 1)),
		'content': hsl(0 0% 100% / var(--tw-text-opacity, 1)),
		'contentHsl': 0 0% 100%
	),
	'tabler': (
		'hsl': 212.6 71.9% 44.7%,
		'value': hsl(212.6 71.9% 44.7% / var(--color-value-opacity, 1)),
		'default': hsl(212.6 71.9% 44.7% / var(--tw-bg-opacity, 1)),
		'focus': hsl(212.6 71.9% 34.7% / var(--tw-bg-opacity, 1)),
		'content': hsl(0 0% 100% / var(--tw-text-opacity, 1)),
		'contentHsl': 0 0% 100%
	)
);
