$RoleColors: (
    'primary' : 'primary',
    'secondary' : 'secondary',
    'accent' : 'accent',
);

$StateColors: (
    'success' : 'success',
    'info' : 'info',
    'warning' : 'warning',
    'danger' : 'error',
);

$namedColors: (
    'light': ('default': #f8fafc,
        'focus': darken(#f8fafc, 10%),
        'content': #000000,
    ),
    'dark': ('default': #1d273b,
        'focus': darken(#1d273b, 10%),
        'content': #ffffff,
    ),
    'blue': ('default': #206bc4,
        'focus': darken(#206bc4, 10%),
        'content': #ffffff,
    ),
    'azure': ('default': #4299e1,
        'focus': darken(#4299e1, 10%),
        'content': #ffffff,
    ),
    'indigo':('default': #4263eb,
        'focus': darken(#4263eb, 10%),
        'content': #ffffff,
    ),
    'purple':('default': #ae3ec9,
        'focus': darken(#ae3ec9, 10%),
        'content': #ffffff,
    ),
    'pink': ('default': #d6336c,
        'focus': darken(#d6336c, 10%),
        'content': #ffffff,
    ),
    'red': ('default': #d63939,
        'focus': darken(#d63939, 10%),
        'content': #ffffff,
    ),
    'orange':('default': #f76707,
        'focus': darken(#f76707, 10%),
        'content': #ffffff,
    ),
    'yellow':('default': #f59f00,
        'focus': darken(#f59f00, 10%),
        'content': #ffffff,
    ),
    'lime': ('default': #74b816,
        'focus': darken(#74b816, 10%),
        'content': #ffffff,
    ),
    'green': ('default': #2fb344,
        'focus': darken(#2fb344, 10%),
        'content': #ffffff,
    ),
    'teal': ('default': #0ca678,
        'focus': darken(#0ca678, 10%),
        'content': #ffffff,
    ),
    'cyan': ('default': #17a2b8,
        'focus': darken(#17a2b8, 10%),
        'content': #ffffff,
    ),
);

$socialColors: (
    'facebook': ('default': #1877F2,
        'focus': darken(#1877F2, 10%),
        'content': #ffffff,
    ),
    'twitter': ('default': #1da1f2,
        'focus': darken(#1da1f2, 10%),
        'content': #ffffff,
    ),
    'linkedin': ('default': #0a66c2,
        'focus': darken(#0a66c2, 10%),
        'content': #ffffff,
    ),
    'google': ('default': #dc4e41,
        'focus': darken(#dc4e41, 10%),
        'content': #ffffff,
    ),
    'youtube': ('default': #ff0000,
        'focus': darken(#ff0000, 10%),
        'content': #ffffff,
    ),
    'vimeo': ('default': #1ab7ea,
        'focus': darken(#1ab7ea, 10%),
        'content': #ffffff,
    ),
    'dribbble': ('default': #ea4c89,
        'focus': darken(#ea4c89, 10%),
        'content': #ffffff,
    ),
    'github': ('default': #181717,
        'focus': darken(#181717, 10%),
        'content': #ffffff,
    ),
    'instagram': ('default': #e4405f,
        'focus': darken(#e4405f, 10%),
        'content': #ffffff,
    ),
    'pinterest': ('default': #bd081c,
        'focus': darken(#bd081c, 10%),
        'content': #ffffff,
    ),
    'vk': ('default': #6383a8,
        'focus': darken(#6383a8, 10%),
        'content': #ffffff,
    ),
    'rss': ('default': #ffa500,
        'focus': darken(#ffa500, 10%),
        'content': #ffffff,
    ),
    'flickr': ('default': #0063dc,
        'focus': darken(#0063dc, 10%),
        'content': #ffffff,
    ),
    'bitbucket': ('default': #0052cc,
        'focus': darken(#0052cc, 10%),
        'content': #ffffff,
    ),
);