/* styles for documentation site */

.flex-direction-column {
    flex-direction: column;
} 

@media (min-width: 768px) {
    .flex-direction-md-row {
        flex-direction: row;
    }
}

.y-docs-sidebar {
    position: relative !important;
    background-color: transparent !important; 
    box-shadow: none !important;
}

.y-offcanvas-show-closed {
    display: none;
}

.y-docs-offcanvas .y-sidebar-wrapper {
    width: auto;
}

.y-offcanvas-header {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}

.y-icon {
    width: 1rem;
    height: 1rem;
}

.y-el-d-none {
    display: none;
}

.y-el-d-block {
    display: block;
}

@media (min-width: 768px) {

    .y-el-d-md-none {
        display: none;
    }
    
    .y-el-d-md-block {
        display: block;
    }
}