$prefix-el: $prefix + 'el';

.#{$prefix-el} {
	&-text-transform {
		&-uppercase {
			@extend .uppercase;
		}
		&-lowercase {
			@extend .lowercase;
		}
		&-capitalize {
			@extend .capitalize;
		}
	}
}

$text-aligns: 'start', 'center', 'end';

@each $text-align in $text-aligns {
	.y-el-text-align-#{$text-align} {
		text-align: #{$text-align};
		justify-content: #{$text-align};
	}
}

@each $sizeName, $sizeValue in $displays-sizes {
	@media (min-width: #{$sizeValue}) {
		@each $text-align in $text-aligns {
			.#{$prefix}el-text-align-#{$sizeName}-#{$text-aligns} {
				text-align: #{$text-align};
				justify-content: #{$text-align};
			}
		}
	}
}
