$props: (
	null: '.alert',
	title: '.alert-title',
	dismissible: '.alert-dismissible',
	close: '.btn-close',
	color: generate_props($theme_colors, ('.alert-')),
	start: '.alert-icon',
	link: '.alert-link',
	important: '.alert-important'
);

.#{$prefix-alert} {
	@include apply-props($props);

	display: flex;

	&-show {
		&-opening,
		&-closing {
			transition: all 0.3s ease-out;
		}

		&-open,
		&-closing {
			opacity: 0;
		}

		&-close,
		&-opening,
		&-opened {
			opacity: 1;
		}

		&-closed {
			display: none;
		}
	}

	.#{$prefix-alert}-start {
		height: unset !important;
		width: unset !important;
		margin-top: 0;
		margin-bottom: 0;
	}

	&-important {
		.#{$prefix-alert}-title {
			color: #fff;
		}
		.#{$prefix-alert}-close {
			@extend .btn-close-white;
		}
	}
}
