//
// Autocomplete
//

$props: (
	null: '.form-select',
	dropdown: (
		'.dropdown-menu',
		'.w-100'
	),
	option: (
		null: '.dropdown-item',
		no-result: '.disabled'
	),
	disabled: '.disabled',
	size: (
		sm: '.form-select-sm',
		md: '.form-select',
		lg: '.form-select-lg'
	),
	state: (
		valid: '.is-valid',
		invalid: '.is-invalid'
	)
);

.#{$prefix-autocomplete} {
	@include apply-props($props);
	position: relative;

	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;

	&:focus-within {
		background-color: var(--y-bg-forms);
		border-color: #90b5e2;
		box-shadow: 0 0 0 0.25rem rgba(32, 107, 196, 0.25);
		color: inherit;
		outline: 0;
	}

	&-dropdown {
		top: calc(100% + 4px);
		overflow-y: auto;
		max-height: 450px !important;
	}

	&-input {
		border: none;
		width: 100%;
		flex: 1;
		padding: 0;
		outline: none;
		background-color: transparent;
	}

	&-item {
		display: flex;
		align-items: center;
		gap: 0.75rem;
		padding: 2px 0.5rem;

		&-multiple {
			background-color: #f0f0f0;
			border-radius: 4px;
		}

		&-active {
			background-color: #e0e0e0;
		}

		&-remove {
			cursor: pointer;
		}
	}
}

[data-bs-theme='dark'] {
	.#{$prefix-autocomplete}-item {
		&-multiple {
			background-color: #26313f;
		}
		&-active {
			background-color: #2d3948;
		}
	}
}
