//
// Button Group
//

$props: (
	size: (
		sm: '.btn-group-sm',
		md: '.btn-group-md',
		lg: '.btn-group-lg'
	),
	vertical: (
		null: '.btn-group-vertical',
		size: (
			sm: '.btn-group-vertical-sm',
			md: '.btn-group-vertical-md',
			lg: '.btn-group-vertical-lg'
		)
	)
);

$button-group-sizes: 'sm' 'lg';

.#{$prefix-button-group} {
	@include apply-props($props);

	&:not(.#{$prefix-button-group}-vertical) {
		@extend .btn-group;
	}
}
