$props: (
	null: '.btn' '.gap-2',
	active: '.active',
	color: generate_props($theme_colors, ('.btn-')),
	disabled: '.disabled',
	icon: '.btn-icon',
	link: '.btn-link',
	loading: '.btn-loading',
	shape: (
		pill: '.btn-pill',
		tile: '.btn-square'
	),
	size: (
		sm: '.btn-sm',
		lg: '.btn-lg' '.gap-3'
	)
);

.#{$prefix-button} {
	@include apply-props($props);

	& > .#{$prefix}avatar,
	& > .#{$prefix}icon {
		margin: 0 !important;
	}
	& > .#{$prefix-icon} {
		--#{$prefix}icon-size: unset;
	}


	&.#{$prefix-button}-link {
		background-color: transparent;
		box-shadow: none;
	}

	@each $key, $value in $theme-colors {
		&-color-#{$key}.#{$prefix-button}-ghost {
			@extend .btn-ghost-#{$key};
			--#{$prefix}btn-bg: transparent;
		}

		&-color-#{$key}.#{$prefix-button}-link {
			@extend .link-#{$key};
		}

		&-color-#{$key}.#{$prefix-button}-outline {
			@extend .btn-outline-#{$key};
			--#{$prefix}btn-bg: transparent;
		}
	}
}
