$props: (
	null: '.status-dot',
	animated: '.status-dot-animated',
	indicator: '.status-indicator-animated',
	color: generate_props($theme_colors, ('.status-')),
	indicator-circle: '.status-indicator-circle'
);

.#{$prefix-dot} {
	@include apply-props($props);
}
