
.#{$prefix-editor} {
	&-wrapper {
		display: flex;
		flex-direction: column;

		&:not(.#{$prefix-editor}-wrapper-loaded) {
			border: 1px solid #ccc;
		}

		&-height-sm {
			height: 150px !important;
		}

		&-height-md {
			height: 200px !important;
		}

		&-height-lg {
			height: 250px !important;
		}

		&-height-xl {
			height: 300px !important;
		}

		&-state-valid {
			.ql-toolbar.ql-snow {
				border-color: var(--#{$prefix}success) !important;
			}
			.ql-container.ql-snow {
				border-color: var(--#{$prefix}success) !important;
			}
		}

		&-state-invalid {
			.ql-toolbar.ql-snow {
				border-color: var(--#{$prefix}danger) !important;
			}
			.ql-container.ql-snow {
				border-color: var(--#{$prefix}danger) !important;
			}
		}

		.ql-toolbar.ql-snow {
			border: var(--#{$prefix}border-width) solid var(--#{$prefix}border-color);
			border-top-right-radius: var(--#{$prefix}border-radius);
			border-top-left-radius: var(--#{$prefix}border-radius);
		}

		.ql-container.ql-snow {
			border: var(--#{$prefix}border-width) solid var(--#{$prefix}border-color);
			border-bottom-right-radius: var(--#{$prefix}border-radius);
			border-bottom-left-radius: var(--#{$prefix}border-radius);
		}

		.ql-toolbar.ql-snow .ql-fill {
			fill: var(--#{$prefix}muted) !important;
		}
		.ql-toolbar.ql-snow .ql-stroke {
			stroke: var(--#{$prefix}muted) !important;
		}
		.ql-snow .ql-picker {
			color: var(--#{$prefix}muted) !important;
		}
	}
}
