//
// FormField
//

.#{$prefix-form-field} {
	@extend .mb-3;
	
	&-hint {
		margin-top: 0.25rem;
		font-size: 85.714285%;

		&-state {
			&-valid {
				color: #{$success};
			}

			&-invalid {
				color: #{$danger};
			}
		}
	}
}

$form-field-props: (
	null: '.#{$prefix-form-field}',
	hint: '.#{$prefix-form-field}-hint',
	state-valid: '.#{$prefix-form-field}-state-valid',
	state-invalid: '.#{$prefix-form-field}-state-invalid'
);

.#{$prefix-form-input} {
	@include apply-props($form-field-props);
}

.#{$prefix-form-checkbox} {
	@include apply-props($form-field-props);
}

.#{$prefix-form-checkbox-group} {
	@include apply-props($form-field-props);
}

.#{$prefix-form-file-upload} {
	@include apply-props($form-field-props);
}

.#{$prefix-form-radio-group} {
	@include apply-props($form-field-props);
}

.#{$prefix-form-switch} {
	@include apply-props($form-field-props);
}

.#{$prefix-form-select} {
	@include apply-props($form-field-props);
}

.#{$prefix-form-textarea} {
	@include apply-props($form-field-props);
}
