//
// FormField
//

@mixin form-field-mixin {
	@extend .mb-3;

	&-group {
		@extend .input-group;
	}

	&-icon {
		@extend .input-group-text;
	}

	&-hint {
		margin-top: 0.25rem;
		font-size: 85.714285%;

		&-state {
			&-valid {
				color: #{$success};
			}

			&-invalid {
				color: #{$danger};
			}
		}
	}
}

.#{$prefix-form-input} {
	@include form-field-mixin;
}

.#{$prefix-form-checkbox} {
	@include form-field-mixin;
}

.#{$prefix-form-checkbox-group} {
	@include form-field-mixin;
	display: block !important;
}

.#{$prefix-form-date-picker} {
	@include form-field-mixin;
}

.#{$prefix-form-file-upload} {
	@include form-field-mixin;
}

.#{$prefix-form-radio-group} {
	@include form-field-mixin;
}

.#{$prefix-form-editor} {
	@include form-field-mixin;
}

.#{$prefix-form-switch} {
	@include form-field-mixin;
}

.#{$prefix-form-select} {
	@include form-field-mixin;
}

.#{$prefix-form-textarea} {
	@include form-field-mixin;
}
