//
// Input
//

$wrapper-props: (
	null: '%input-icon',
	size: (
		sm: '%input-icon-sm',
		// md: '%input-icon',
		lg: '%input-icon-lg'
	)
);

$props: (
	null: '%form-control',
	icon: '%input-icon-addon',
	size: (
		sm: '%form-control-sm',
		// md: '%form-control',
		lg: '%form-control-lg'
	),
	state: (
		valid: '%is-valid',
		invalid: '%is-invalid'
	),
	border: (
		rounded: '%form-control-rounded',
		flush: '%form-control-flush'
	)
);

.#{$prefix-input} {
	@include apply-props($props);
}

::-ms-reveal {
	display: none;
}

.#{$prefix-input-wrapper} {
	@include apply-props($wrapper-props);
}
