$modal-props: (
	null: (
		'%modal'
	),
	container: '%modal-dialog',
	backdrop: (
		null: (
			'%modal-backdrop'
		),
		absolute: '%position-absolute'
	),
	absolute: '%position-absolute',
	close: '%btn-close',
	body: '%modal-body',
	content: '%modal-content',
	footer: '%modal-footer',
	header: '%modal-header',
	title: '%modal-title'
);

.#{$prefix-modal} {
	@include apply-props($modal-props);

	&-placement-center .#{$prefix-modal-container} {
		@extend %modal-dialog-centered;
	}

	&-scrollable .#{$prefix-modal-container} {
		@extend %modal-dialog-scrollable;
	}

	&-backdrop {
		pointer-events: none;
		width: 100%;
		height: 100%;
		display: none;
		opacity: 0;
	}

	&-size-full {
		.#{$prefix-modal-container} {
			@extend %modal-full-width;
		}
	}

	@each $size in sm, lg, xl {
		&-size-#{$size} .#{$prefix-modal-container} {
			@extend %modal-#{$size};
		}
	}

	&-show {
		&-opening,
		&-closing {
			transition: all 0.3s ease-out;
		}

		&-open,
		&-closing {
			display: block;
			opacity: 0;
			transform: translate(0, -10%);
		}

		&-close,
		&-opening,
		&-opened {
			display: block;
			opacity: 1;
		}

		&-closed {
			display: none;
			opacity: 0;
		}
	}

	&-backdrop-show {
		&-opening,
		&-closing {
			transition: all 0.3s ease-out;
		}

		&-open,
		&-closing {
			display: block;
			opacity: 0;
		}

		&-close,
		&-opening,
		&-opened {
			display: block;
			opacity: var(--y-backdrop-opacity);
		}

		&-closed {
			display: none;
			opacity: 0;
		}
	}
}

.#{$prefix}body-modal-show {
	overflow: hidden;
	padding-right: 1rem;
}
