$navbar-props: (
	wrapper: (
		null: '.navbar' '.navbar-expand-sm',
		theme: (
			dark: '.navbar-dark',
			light: '.navbar-light'
		)
	),
	null: '.container-fluid',
	content: '.navbar-collapse',
	items: '.navbar-nav',
	item: (
		null: '.nav-link',
		wrapper: (
			null: '.nav-item',
			dropdown: '.dropdown'
		),
		active: '.active',
		disabled: '.disabled',
		menu: '.dropdown-menu',
		dropdown: '.dropdown-toggle',
		end: '.ms-auto',
		divider: '.dropdown-divider',
		icon: '.nav-link-icon',
		title: '.nav-link-title'
	)
);

.#{$prefix-navbar}-wrapper {
	@extend .d-none;
	@extend .d-sm-block;

	&-show {
		@extend .d-block;
	}
}

.#{$prefix-navbar} {
	@include apply-props($navbar-props);

	&-item-menu .#{$prefix-navbar}-item {
		@extend .dropdown-item;
	}

	&-item-menu.#{$prefix-popup}-show {
		display: block;
		width: unset;
	}

	&-item-menu {
		.#{$prefix-navbar}-item {
			justify-content: start !important;
		}
	}

	.#{$prefix-navbar}-wrapper-theme-dark &-item-menu {
		@extend .dropdown-menu-dark;
	}

	&-item-title {
		cursor: pointer;
	}
}
