@import '../base';

$pagination-props: (
	null: '%pagination',
	item: (
		null: '%page-item',
		link: '%page-link',
		active: '%active',
		disabled: '%disabled'
	)
);

.#{$prefix-pagination} {
	@include apply-props($pagination-props);
}
