$popover-props: (
	null: (
		'.popover',
		'.bs-popover-auto'
	),
	body: '.popover-body',
	header: '.popover-header',
	arrow: '.popover-arrow'
);

.#{$prefix-popover} {
	@include apply-props($popover-props);
}
