//
// Ribbon
//

$ribbonPositions: 'top' 'start' 'bottom' 'end';

$props: (
	null: '.ribbon',
	bg-color: generate_props($theme_colors, ('.bg-')),
	element-position: generate_props($ribbonPositions, ('.ribbon-'))
);

.#{$prefix-ribbon} {
	@include apply-props($props);
}
