$sidebar-props: (
	null: (
		wrapper: (
			null: '.navbar' '.navbar-vertical' '.navbar-expand',
			theme: (
				dark: '.navbar-dark',
				light: '.navbar-light'
			)
		),
		null: '.navbar-collapse',
		content: '.navbar-nav'
	),
	item: (
		null: '.nav-link',
		wrapper: (
			null: '.nav-item',
			dropdown: '.dropdown'
		),
		active: '.active',
		disabled: '.disabled',
		menu: '.dropdown-menu',
		dropdown: '.dropdown-toggle',
		end: '.ms-auto',
		icon: '.nav-link-icon',
		title: '.nav-link-title'
	)
);

.#{$prefix-sidebar} {
	@include apply-props($sidebar-props);

	&-item-menu .#{$prefix-sidebar}-item {
		@extend .dropdown-item;
	}

	&-item-menu.#{$prefix-popup}-show {
		display: block;
		width: unset;
	}

	&-item {
		cursor: pointer;

		&-end {
			.#{$prefix-badge} {
				position: static !important;
				transform: none !important;
			}
		}

		&-title {
			text-decoration: none;
		}
	}
}
