//
// Range Slider
//

$props: (
	null: (
		'.form-range',
		'.noUi-target',
		'.noUi-txt-dir-ltr'
	),
	color: generate_props($theme_colors, ('.text-'))
);

.#{$prefix-slider} {
	@include apply-props($props);
}
