@import '../base';

//
// Range Slider
//

$props: (
	null: (
		'%form-range',
		'%noUi-target',
		'%noUi-txt-dir-ltr'
	),
	target: '%noUi-target',
	base: '%noUi-base',
	origin: '%noUi-origin',
	connects: '%noUi-connects',
	connect: '%noUi-connect',
	handle: '%noUi-handle',
	horizontal: '%noUi-horizontal',
	vertical: '%noUi-vertical',
	tooltip: '%noUi-tooltip',
	touch-area: '%noUi-touch-area',
	handle-lower: '%noUi-handle-lower',
	handle-upper: '%noUi-handle-upper',
	text-direction-ltr: '%noUi-txt-dir-ltr',
	text-direction-rtl: '%noUi-txt-dir-rtl',
	active: '%noUi-active',
	background: '%noUi-background',
	ltr: '%noUi-ltr',
	rtl: '%noUi-rtl',
	value: '%noUi-value',
	value-sub: '%noUi-value-sub',
	value-vertical: '%noUi-value-vertical',
	value-horizontal: '%noUi-value-horizontal',
	drag: '%noUi-state-drag',
	draggable: '%noUi-draggable',
	marker: '%noUi-marker',
	marker-sub: '%noUi-marker-sub',
	marker-large: '%noUi-marker-large',
	marker-normal: '%noUi-marker-normal',
	marker-vertical: '%noUi-marker-vertical',
	marker-horizontal: '%noUi-marker-horizontal',
	pips: '%noUi-pips',
	pips-horizontal: '%noUi-pips-horizontal',
	pips-vertical: '%noUi-pips-vertical',
	pips-tap: '%noUi-state-tap',
	color: generate_props($theme_colors, ('%text-'))
		// background: classname(componentName + '-background')!,
	// tap: classname(componentName + '-tap')!,
	// valueLarge: classname(componentName + '-value-large')!,
	// valueNormal: classname(componentName + '-value-normal')!,
);

.#{$prefix-slider} {
	@include apply-props($props);
}
