//
// Stamp
//

$props: (
	null: '%card-stamp',
	icon: '%card-stamp-icon'
);

$card-stamp-sizes: (
	sm: '5rem',
	md: '6rem',
	lg: '7rem'
);

.#{$prefix-stamp} {
	@include apply-props($props);

	@each $key, $value in $card-stamp-sizes {
		&-size-#{$key} {
			--#{$prefix}stamp-size: #{$value};
		}
	}

	@each $key, $value in $theme-colors {
		&-bg-color-#{$key} > #{$prefix-stamp}-icon {
			@extend %bg-#{$key};
		}

		&-text-color-#{$key} > #{$prefix-stamp}-icon {
			@extend %text-#{$key};
		}
	}

	&-icon-position-top-start {
		top: 0;
		left: 0;

		.#{$prefix-stamp}-icon {
			transform: rotate(-10deg);
			left: calc(var(--#{$prefix}stamp-size) * -0.25);
		}
	}

	&-icon-position-bottom-start {
		bottom: 0;
		left: 0;
		top: auto;

		.#{$prefix-stamp}-icon {
			top: auto;
			left: calc(var(--#{$prefix}stamp-size) * -0.25);
			bottom: calc(var(--#{$prefix}stamp-size) * -0.25);
		}
	}

	&-icon-position-bottom-end {
		bottom: 0;
		top: auto;
		right: 0;

		.#{$prefix-stamp}-icon {
			transform: rotate(-10deg);
			top: calc(100% - (var(--#{$prefix}stamp-size) * 0.75));
		}
	}
}
