//
// Textarea
//

$wrapper-props: (
	null: '.input-group',
	size: (
		sm: '.input-group-sm',
		md: '.input-group',
		lg: '.input-group-lg'
	)
);

$props: (
	null: '.form-control',
	size: (
		sm: '.form-control-sm',
		md: '.form-control',
		lg: '.form-control-lg'
	),
	state: (
		valid: '.is-valid',
		invalid: '.is-invalid'
	),
	border: (
		rounded: '.form-control-rounded',
		flush: '.form-control-flush'
	)
);

.#{$prefix-textarea} {
	@include apply-props($props);
}

.#{$prefix-textarea-wrapper} {
	@include apply-props($wrapper-props);

	& > span {
		@extend .input-group-text;
	}
}
