@import '../base';

// --------------------------------------------------
// Tooltip component
// --------------------------------------------------

$tooltip-props: (
	null: (
		'%tooltip',
		'%bs-tooltip-auto'
	),
	arrow: '%tooltip-arrow',
	inner: '%tooltip-inner'
);

.#{$prefix-tooltip} {
	@include apply-props($tooltip-props);
}
