
.#{$prefix-transition} {
    transition: opacity 0.2s ease;

    &-from {
        opacity: 0;
    }
    &-to {
        opacity: 1;
    }

    &-show {
        display: block;
    }
    &-hide {
        display: none;
    }
}
