.u-confirm {
	&-title {
		text-align: center;
		margin-bottom: 0.75rem;
	}

	&-description {
		text-align: center;
		margin-bottom: 1.5rem;
	}

	&-icon {
		display: flex;
		box-sizing: content-box;
		justify-content: center;
		width: 5em;
		height: 5em;
		margin: auto;
		border: 0.25em solid transparent;
		border-radius: 50%;
		font-family: inherit;
		line-height: 5em;
		cursor: default;
		user-select: none;
		margin-bottom: 0.75rem;
	}

	&-icon * {
		display: flex;
		align-items: center;
		font-size: 3.75em;
	}

	&-icon-error {
		border-color: #f27474;
		color: #f27474;

		div {
			margin-bottom: 0.125em;
		}
	}

	&-icon-info {
		border-color: #9de0f6;
		color: #3fc3ee;
	}

	&-icon-question {
		border-color: #c9dae1;
		color: #87adbd;
	}

	&-icon-success {
		border-color: #dfffcd;
		color: #a5dc86;
	}

	&-icon-warning {
		border-color: #facea8;
		color: #f8bb86;
	}

	&-actions {
		display: flex;
		justify-content: center;
		column-gap: 0.75em;
	}
}
