$dialog-props: (
	null: (
		'.modal',
		'.fade'
	),
	container: '.modal-dialog',
	backdrop: (
		null: (
			'.modal-backdrop',
			'.fade'
		),
		open: '.show',
		absolute: '.position-absolute'
	),
	open: '.show',
	absolute: '.position-absolute',
	close: '.btn-close',
	body: '.modal-body',
	content: '.modal-content',
	footer: '.modal-footer',
	header: '.modal-header',
	title: '.modal-title'
);

.#{$prefix-dialog} {
	@include apply-props($dialog-props);

	&-placement-center .#{$prefix-dialog-container} {
		@extend .modal-dialog-centered;
	}

	&-scrollable .#{$prefix-dialog-container} {
		@extend .modal-dialog-scrollable;
	}

	&-backdrop {
		pointer-events: none;
		width: 100%;
		height: 100%;
	}

	&-open {
		display: block;
	}

	&-size-full {
		.#{$prefix-dialog}-container {
			@extend .modal-full-width;
		}
	}

	@each $size in sm, lg, xl {
		&-size-#{$size} .#{$prefix-dialog-container} {
			@extend .modal-#{$size};
		}
	}
}

.#{$prefix}body-dialog-open {
	overflow: hidden;
	padding-right: 16px;
}