$prefix-app: $prefix + 'app' !default;
$prefix-app-body: $prefix + 'app-body' !default;
$prefix-app-header: $prefix + 'app-header' !default;
$prefix-app-footer: $prefix + 'app-footer' !default;
$prefix-accordions: $prefix + 'accordions' !default;
$prefix-accordion: $prefix + 'accordion' !default;
$prefix-alert: $prefix + 'alert' !default;
$prefix-autocomplete: $prefix + 'autocomplete' !default;
$prefix-avatar: $prefix + 'avatar' !default;
$prefix-avatar-list: $prefix + 'avatar-list' !default;
$prefix-badge: $prefix + 'badge' !default;
$prefix-button: $prefix + 'button' !default;
$prefix-button-group: $prefix + 'button-group' !default;
$prefix-breadcrumb: $prefix + 'breadcrumb' !default;
$prefix-card: $prefix + 'card' !default;
$prefix-checkbox: $prefix + 'checkbox' !default;
$prefix-checkbox-group: $prefix + 'checkbox-group' !default;
$prefix-date-picker: $prefix + 'date-picker' !default;
$prefix-date-picker-wrapper: $prefix-date-picker + '-wrapper' !default;
$prefix-divider: $prefix + 'divider' !default;
$prefix-dot: $prefix + 'dot' !default;
$prefix-dropdown: $prefix + 'dropdown' !default;
$prefix-editor: $prefix + 'editor' !default;
$prefix-el: $prefix + 'el';
$prefix-fieldset: $prefix + 'fieldset' !default;
$prefix-file-upload: $prefix + 'file-upload' !default;
$prefix-file-upload-wrapper: $prefix-file-upload + 'wrapper' !default;
$prefix-floating: $prefix + 'floating' !default;
$prefix-footer: $prefix + 'footer' !default;
$prefix-icon: $prefix + 'icon' !default;
$prefix-input: $prefix + 'input' !default;
$prefix-input-wrapper: $prefix-input + '-wrapper' !default;
$prefix-label: $prefix + 'label' !default;
$prefix-menu: $prefix + 'menu' !default;
$prefix-modal: $prefix + 'modal' !default;
$prefix-modal-container: $prefix + 'modal-container' !default;
$prefix-nav: $prefix + 'nav' !default;
$prefix-navbar: $prefix + 'navbar' !default;
$prefix-offcanvas: $prefix + 'offcanvas' !default;
$prefix-page: $prefix + 'page';
$prefix-page-body: $prefix + 'page-body';
$prefix-page-header: $prefix + 'page-header';
$prefix-pagination: $prefix + 'pagination';
$prefix-popover: $prefix + 'popover' !default;
$prefix-popup: $prefix + 'popup' !default;
$prefix-progress: $prefix + 'progress' !default;
$prefix-slider: $prefix + 'slider' !default;
$prefix-radio: $prefix + 'radio' !default;
$prefix-radio-wrapper: $prefix-radio + '-wrapper' !default;
$prefix-radio-group: $prefix + 'radio-group' !default;
$prefix-ribbon: $prefix + 'ribbon' !default;
$prefix-select: $prefix + 'select' !default;
$prefix-select-wrapper: $prefix-select + '-wrapper' !default;
$prefix-sidebar: $prefix + 'sidebar' !default;
$prefix-spinner: $prefix + 'spinner' !default;
$prefix-stamp: $prefix + 'stamp' !default;
$prefix-steps: $prefix + 'steps' !default;
$prefix-step-item: $prefix + 'step-item' !default;
$prefix-status: $prefix + 'status' !default;
$prefix-switch: $prefix + 'switch' !default;
$prefix-tabs: $prefix + 'tabs' !default;
$prefix-tab: $prefix + 'tab' !default;
$prefix-table: $prefix + 'table' !default;
$prefix-table-row: $prefix + 'table-row' !default;
$prefix-table-cell: $prefix + 'table-cell' !default;
$prefix-textarea: $prefix + 'textarea' !default;
$prefix-textarea-wrapper: $prefix-textarea + '-wrapper' !default;
$prefix-toast: $prefix + 'toast' !default;
$prefix-tooltip: $prefix + 'tooltip' !default;
// Form
$prefix-form-field: $prefix + 'form-field' !default;
$prefix-form-autocomplete: $prefix + 'form-autocomplete' !default;
$prefix-form-fieldset: $prefix + 'form-fieldset' !default;
$prefix-form-date-picker: $prefix + 'form-date-picker' !default;
$prefix-form-input: $prefix + 'form-input' !default;
$prefix-form-checkbox: $prefix + 'form-checkbox' !default;
$prefix-form-editor: $prefix + 'form-editor' !default;
$prefix-form-file-upload: $prefix + 'form-file-upload' !default;
$prefix-form-checkbox-group: $prefix + 'form-checkbox-group' !default;
$prefix-form-radio-group: $prefix + 'form-radio-group' !default;
$prefix-form-switch: $prefix + 'form-switch' !default;
$prefix-form-select: $prefix + 'form-select' !default;
$prefix-form-textarea: $prefix + 'form-textarea' !default;
